
<div class="jumbotron nt-4">
    <h1 class="display-4">Note app aisfjaiosfjoi</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates ducimus incidunt earum, reprehenderit vel neque ea est quis dignissimos qui ipsa libero minima, quisquam ab exercitationem deserunt eum veritatis modi.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi pariatur amet, adipisci illum laudantium cum qui magnam omnis quas ipsum! </p>
    <a href="https://fazwed.com" class="btm btm-primay">fazwed</a>

</div>